<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">

        <!--JQuery-->
        <script type="text/javascript" src="../js/jquery-3.5.1.min.js"></script>

        <!--Bootstrap-->
        <script type="text/javascript" src="../js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="../css/bootstrap.min.css">

        <!--Style-->
        <link rel="stylesheet" href="../css/main.css">

        <!--Script-->
        <script type="text/javascript" src="../js/main.js"></script>

    </head>
    <body>
        <header id="menu">
            <div id="menu-profile">
                <a class="profile-pic" href="#"><img src="../img/profile.png"></a>
                <h2>Name</h2>
            </div>
            <nav id="menu-nav">
                <ul>
                    <li class="nav-item"><h4><a href="#">Home</a></h4></li>
                    <li class="nav-item"><h4><a href="#">InfoAdotar</a></h4></li>
                    <li class="nav-item"><h4><a href="#">InfoAjudar</a></h4></li>
                </ul>
            </nav>
            <section id="notifications-summary">
                <div>
                    <img src="../img/notificationIcon.png">
                    <h5>Notificações</h5>
                </div>
                <div id="notifications-summary-body">
                    <article class="card">
                        <div class="card-header">
                            <h6>Lorem, ipsum</h6>
                        </div>
                        <p>Lorem ipsum dolor, sit amet</p>
                    </article>
                    <article class="card">
                        <div class="card-header">
                            <h6>Lorem, ipsum</h6>
                        </div>
                        <p>Lorem ipsum dolor, sit amet</p>
                    </article>
                    <article class="card">
                        <div class="card-header">
                            <h6>Lorem, ipsum</h6>
                        </div>
                        <p>Lorem ipsum dolor, sit amet</p>
                    </article>
                    <article class="card">
                        <div class="card-header">
                            <h6>Lorem, ipsum</h6>
                        </div>
                        <p>Lorem ipsum dolor, sit amet</p>
                    </article>
                    <article class="card">
                        <div class="card-header">
                            <h6>Lorem, ipsum</h6>
                        </div>
                        <p>Lorem ipsum dolor, sit amet</p>
                    </article>
                    <article class="card">
                        <div class="card-header">
                            <h6>Lorem, ipsum</h6>
                        </div>
                        <p>Lorem ipsum dolor, sit amet</p>
                    </article>
                    <article class="card">
                        <div class="card-header">
                            <h6>Lorem, ipsum</h6>
                        </div>
                        <p>Lorem ipsum dolor, sit amet</p>
                    </article>
                </div>
            </section>
        <button id="menu-toggle"></button>
        </header>
    </body>
</html>