/*#region Default settings*/

    * {
        --primary-color: #FFFFFF;
        --secondary-color: #D0D0D0;
        --thirdary-color: #B4A7D6FF;
        --quaternary-color: #8E7CC3FF;
        --quinary-color: #674EA7FF;
        /*
        --senary-color: 
        --septenary-color:
        --octonary-color:
        --nonary-color:
        --denary-color:
        */
    }

    body {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    @font-face {
        font-family: Comfortaa;
        src: url(../font/Comfortaa/Comfortaa-VariableFont_wght.ttf);
    }

    h1, h2 {
        font-family: Comfortaa;
    }

    h1, h2, h3, h4, h5, h6 {
        margin: 0px;
    }


/*#endregion*/

/*#region Util*/

    .logo-card {
        font-weight: bolder;
        color: var(--thirdary-color);
        margin: 10px;
        text-align: center;
    }

    .logo-card > img {
        width: 75px;
    }

    .profile-card {
        text-align: center;
        padding: 5px;
    }

    .profile-pic {
        padding: 2.5px;
        border-radius: 50%;
        max-width: 100px;
        background-color: var(--thirdary-color);
    }

    .profile-pic:hover {
        background-color: var(--quinary-color);
    }

/*#endregion*/

/*#region Layout*/

    #pageHeader {
        background-color: var(--thirdary-color);
        color: var(--primary-color);
        padding: 10px;
        display: flex;
        justify-content: start;
    }

    #pageHeader > * {
        margin-right: 10px;
    }

    #pageHeader img {
        max-height: 30px;
    }

    #pageConternt {
        flex: 1;
        display: flex;
        flex-wrap: nowrap;
        overflow: hidden;
    }

    #menu {
        background-color: var(--quaternary-color);
        color: var(--primary-color);
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        width: fit-content;
        right: 0px;
        height: 100%;
    }

    #menu nav > a {
        display: block;
        width: 100%;
        text-align: center;
        text-decoration: none;
        color: var(--primary-color);
        font-size: 20px;
        padding: 2px;
        background-color: inherit;
    }

    #menu nav > a:hover {
        background-color: var(--quinary-color) !important;
    }

    #mainContent {
        flex: 1;
        overflow-y: scroll;
    }

/*#endregion*/